.navbar {
  background-color: rgba(255, 255, 255, 0.9); 
  z-index: 1000; 
}


.navbar-toggler {
  border: none; 
}
.navbar-toggler-icon {
  background-image: none; 
  width: 30px; 
  height: 2px; 
  background-color: #ffc107;
  position: relative;
  display: inline-block;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; 
  background-color: white; 
  left: 0;
}

.navbar-toggler-icon::before {
  top: -7px; 
}

.navbar-toggler-icon::after {
  top: 7px; 
}


.navbar-nav .nav-link {
  padding: 10px 20px; 
  transition: background-color 0.3s ease;
  text-align: center;
}
.navbar-nav .nav-link i {
  font-size: 1.2rem; 
  transition: transform 0.3s ease;
  margin-right: 8px; 
}
.navbar-nav .nav-link:hover {
  border-radius: 5px; 
}

.navbar-nav .nav-link:hover i {
  transform: scale(1.2); 
}
.fixed-top {
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0; 
} 
.color-t{
  background-color: rgba(13, 16, 39, 0.459);
  border: none;
  height: 40px;
} 
.navbar {
    z-index: 1;
}

.navbar .nav-link {
    color: white !important;
}
.ml-3{
    margin-left: 3em;
}
.pl-5{
 padding-left: 7em;
}
.font-weight-bold{
    font-weight: bold;
}

.background {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('Pictures/Services.jpg') no-repeat center center/cover;
    background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 4, 29, 0.733); /* Adjust color and opacity as needed */
}


 
.company-name{
    width: 100%;
    position: absolute;
    top: 250px;
    left: 0;
    color: #ffffff;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    text-align: center;
    align-items: center;
}
#heading1,#heading2{
   
    margin-top: 100px;
    margin-left: 50px;
    max-width: 400px;
    text-align: center;
    font-size: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

:root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
  }

  .containercard {
    display: grid;
    gap: 40px;
    width: 100%;
    padding: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .cardd {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 7 / 8;
    perspective: 1000px;
  }

  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }

  .card__face--front {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }

  .card__content {
    width: 100%;
    height: 100%;
  }

  .card__header {
    position: relative;
    padding: 10px 20px 30px;
  }

  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }

  .pp {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }

  .card__header h2 {
    color: #FFF;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  .card__body {
    padding: 20px;
  }

  .card__body h3 {
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .card__body p {
    color: var(--dark);
    font-size: 15px;
    line-height: 1.4;
  }

  
  .crousel{
    margin-top: 80px;
    align-items: center;
    background: #E3E3E3;
    display: flex;
    width: 73%;
    height: 170px;
    justify-content: center;
    }
  .slider {
    background: white;
    height: 175px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    height: 175px;
    position: absolute;
    width: 160px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-270px * 10.5));
    }
  }
  
  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(270px * 14);
  }
  
  .slide {
    height: 175px;
    width: 187px;
    /* padding:20px*/
    overflow: hidden;
    position: relative;
    align-items: center;
    
    
  }
  .slide img{
    object-fit: cover;
    height: 120px;
    width: 160px;
    border: 2px solid #ffffff;
  }
  .slide h5{
    text-align: center; 
    padding-top: 5px;
  }

li{
    margin-right: 40px;
}
li a{  
      font-size: 18px;
    font-weight: bold;
}

/* footer */
footer{
  top: 2530px;
  position: absolute;
  width: 100%;
  right: 0;
  background-color: #212d45;
}
.toggles h5{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.8em;
  font-size: 1.333em;
}
.toggles p{
  color: #ffffff;
}
.line{
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-top-color: rgba(195, 193, 193, 0.27);
  width: 100%;
}

.social-icon {
padding-left: 65px;
  color: #7acdee;
  font-size: 1.5rem;
}  
/* Media Quries */
@media (min-width: 1200px) and (max-width: 1250px){
  .cardd {
    aspect-ratio: 6.5/ 8;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {

  .cardd {
    aspect-ratio: 5.9/ 8;
  }
  footer{
    top: 2570px;
  }
  
}
@media (min-width: 1041px) and (max-width: 1099px) {

  .cardd {
    aspect-ratio: 5.3/ 8;
  }
  footer{
    top: 2570px;
  }
}
@media (min-width: 992px) and (max-width: 1040px) {

  .cardd {
    aspect-ratio: 5/ 8;
  }
  footer{
    top: 2570px;
  }
}
@media (max-width: 991px){
  .collapse.navbar-collapse {
    background-color: rgb(13, 16, 39);
    box-shadow: 0 2px 10px rgba(113, 131, 148, 0.2);
    border-radius: 5px;
    padding: 15px;
  }
}
@media (min-width: 880px) and (max-width: 991px) {
  .cardd {
    aspect-ratio: 7/ 8;
  }
  footer{
    top: 3200px;
  }
}
@media (min-width: 840px) and (max-width: 879px) {
  .cardd {
    aspect-ratio: 6.3/ 8;
  }
  footer{
    top: 3350px;
  }
}
@media (min-width: 800px) and (max-width: 839px) {
  .cardd {
    aspect-ratio: 6/ 8;
  }
  footer{
    top: 3300px;
  }
}
@media (min-width: 768px) and (max-width: 799px) {
  .cardd {
    aspect-ratio: 5.5/ 8;
  }
  footer{
    top: 3350px;
  }
}
@media (max-width: 767px) {
  .logo{
   margin-left: -20px;
  }
  .background {
    height: 400px;
  }}
@media (min-width: 720px) and (max-width: 767px) {
  .cardd {
    aspect-ratio: 5.5/ 8;
    width: 110%;
  }
  footer{
    top: 3600px;
  }
  .containercard {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

.card__body p {
  font-size: 14px;
}}

@media (min-width: 768px) and (max-width: 991px) {
  
.background {
  height: 450px;
}
  .company-name{
    top:200px;
    font-size: 3.5em;
  }
.containercard {
  grid-template-columns: repeat(2, 1fr);
}
#heading1,#heading2{
  margin-top: 60px;
  margin-left: 60px;
  max-width: 280px;
  font-size: 28px;
}
.crousel{
  margin-top: 70px;
  width: 80%;
  height: 142px;
  }
.slider {
  height: 175px;
  width: 960px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-270px * 11.5));
  }
}
.toggles h5{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  line-height: 1.6em;
  font-size: 1.3em;
}
.toggles p{
  color: #ffffff;
}
}


@media (max-width: 630px) {
  .logo{
    margin-left: 30px;
  }}
@media (min-width: 576px) and (max-width: 719px) {
  #heading1,#heading2
  {
    margin-left: 5px;
  }
.background {
  height: 400px;
}
.company-name{
  top: 180px;
}
.cardd{
  margin-left: 0px;
}



.containercard {
  grid-template-columns: repeat(1, 1fr);

}
footer{
  top: 5100px;
}

}

@media(max-width: 768px) {
  .toggles h5{
    font-weight: 600;
    line-height: 1.5em;
    font-size: 1.133em;
  }
}
@media(max-width: 575px) {
  .background {
    height: 350px;
   
}
.logo {
  height: 80px;
  width: 80px;
}
.company-name{
    top: 180px;
    font-size: 1.5em;
}
#heading1,#heading2{
  margin-left: 10px;
  font-size: 22px;
 }
.containercard {
  padding: 50px;
  margin-top: 10px;
  grid-template-columns: repeat(1, 1fr);
}
.cardd {
  max-width: 350px;
  aspect-ratio: 6.6/ 8;
  width: 100%;
  max-height: 400px;
}
.crousel{
  margin-top: 70px;
  width: 80%;
  height: 142px;
  }
.slider {
  height: 175px;
  width: 960px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-270px * 8.7));
  }
}
.slide-track {
  animation: scroll 40s linear infinite;
  width: calc(270px * 18);
}

.slide {
  height: 155px;
  width: 134px;
}
.slide img{
  height: 90px;
  width: 120px;
}
.slide h5{
  padding-top: 5px;
  font-size: 16px;
}

footer{
  top: 4950px;
}

}
 
@media (max-width: 425px) {
 
  .background {
    height: 300px;
   
}
.company-name{
  top: 150px
}
 #heading1,#heading2{
  font-size: 20px;
  text-align: left;
  margin-top: 50px;
}
  .cardd {
    width: 100%;
    max-width: 320px;
    aspect-ratio: 7 / 8;
    perspective: 1000px;
    height: 350px;
  }



  .card__header:after {
    border-radius: 0px 0px 0% 0px;
  }
  .card__header{
    height: 150px;
  }

  .pp {
    width: 80px;
    height: 80px;
    background-color: #FFF;
    border: 3px solid #FFF;
  }

  .card__header h2 {
    font-size: 14px;
    font-weight: 700;
    margin-top: -3px;
  }
  .card__body h3 {
    font-size: 16px;
  }

  .card__body p {
    font-size: 14.5px;
    line-height: 1.4;
  }
  footer{
    top: 4360px;
  }
}
@media (max-width: 375px) {
  .logo {
    height: 70px;
    width: 70px;
  }
  .cardd {
    max-width: 280px;
    aspect-ratio: 8 / 8;
    height: 325px;
    margin-left: -20px;
  }

  .card__header{
    height: 125px;
  }

  .pp {
    width: 70px;
    height: 70px;
    background-color: #FFF;
    border: 2px solid #FFF;
  }

  .card__header h2 {
    font-size: 13.5px;
    font-weight: 650;
    margin-top: -8px;
  }
  .card__body h3 {
    font-size: 16px;
  }

  .card__body p {
    font-size: 13.5px;
    line-height: 1.4;
  }
  footer{
    top: 4100px;
  }
}
 

